/* CSS declarations go here */
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/Copy of UIWebView */
}

body {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    background-color: black;
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
}

.player {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    border: none;
    display: block !important;
    position: absolute;
    overflow: hidden;
    opacity: 1;
    transition-property: transform, background-color;
    transition-duration: 1.0s;
    -webkit-transition-property: -webkit-transform, background-color;
    -webkit-transition-duration: 1.0s;
}

.powerup {
    width: 8px;
    height: 8px;
    padding: 0;
    margin: 0;
    border: none;
    display: block !important;
    position: absolute;
    overflow: hidden;
    opacity: 1;
    background-color: white;
    transition-property: transform, background-color;
    transition-duration: 1.0s;
    -webkit-transition-property: -webkit-transform, background-color;
    -webkit-transition-duration: 1.0s;
}